/* CSS reset */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* My Style */
body {
    background-image: url(image/swirl_pattern.webp);
    background-repeat: repeat;
    font-size: 16px;
    line-height: 28px;
    font-family: 'Poppins', sans-serif;
    background-color: #eaeaea;
    color: #333;
}

.container {
    position: relative;
    width: 960px;
    margin: 100px auto 0px auto;
    padding-top: 6px;
    border-radius: 14px;
    background-color: #fff;
}
.header{
    padding: 20px;
}
.header ul {
    border-radius: 9px;
    margin-top: 28px;
    width: 476px;
    background-color: rgb(153, 65, 56);
}
.header ul li {
    padding: 13px;
    margin: auto;
    display: inline-block;
}
.header a {
    font-size: 14px;
    text-decoration: none;
    color: rgb(255, 155, 144);
    padding: 3px;
}
.header a:hover {
    animation: .3s;
    background-color: rgb(175, 68, 68);
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
}
.hero {
    height: 320px;
    border-radius: 8px;
    background-image: url(image/pray.jpg);
    background-size: cover;
    margin: 0px 6px;
    background-repeat: no-repeat;
    background-position: 0 -150px;
    /* border-top: 4px solid salmon; */
    border-bottom: 4px solid salmon;
}
.content {
    overflow: auto;
}
.main {
    border-right: 1px solid rgb(214, 214, 214);
    float: left;
    width: 650px;
    padding: 20px;
    box-sizing: border-box;
}
.sidebar {
    background-color: rgb(255, 251, 246);
    height: 1429px;
    padding: 14px;
    overflow: auto;
    border-left: 1px solid rgb(214, 214, 214);
    float: right;
    width: 250px;
}
i{
    font-size: 18px;
    text-align: center;
}
.social {
    width: 250px;
    line-height: 35px;
    overflow: auto;
    margin: auto;
}
.social a {
    color: #666;
}
.social p {
    font-size: 35px;
    display: inline-block;
    text-align: left;
    margin-left: 10px;
}
.sidebar ul {
    margin-top: 10px;
    margin-left: 20px;
}
.sidebar ul li {
    line-height: 25px;
    font-size: 13px;
    list-style: circle;
}
.sidebar h4 {
    margin-bottom: 8px;
    text-align: center;
    font-weight: bold;
    color: #666;
}
.sidebar img {
    margin-bottom: 10px !important;
    margin: auto;
    width: 80px;
    height: 80px;
    display: block;
}
.sidebar p {
    font-size: 12px;
}
.main .judul2{
    padding-left: 20px;
    margin-top: 20px;
    font-size: 30px;
    font-weight: bold;
}
.main .credit {
    padding-left: 20px;
    margin-top: 5px;
    font-size: 13px;
    font-weight: 300;
}
.credit a:hover {
    text-decoration: underline;
}
.container .isi {
    font-size: 15px;
    padding: 20px;
    text-align: justify;
    text-indent: 2%;
    margin-top: 20px;
}
.credit a {
    text-decoration: none;
}
#dalil{
    line-height: 50px;
    font-family: 'Amiri', serif;
    font-size: 20px;
    font-weight: 500;
}
#arti {
    font-size: 15px;
    padding: 0 20px 0 20px;
    font-style: italic;
}
#dalil, #arti {
    text-align: center !important;
}
.surat {
    display: flex;
    font-size: 13px;
    font-weight: 400;
    margin-top: 10px;
    text-align: center;
}
.footer {
    border-radius: 0 0 10px 10px;
    /* margin-top: 30px; */
    height: 50px;
    background-color: #333;
}
.footer p{
    font-weight: 200;
    font-size: 12px;
    text-align: center;
    color: #fff;
    margin: auto;
    padding: 12px;
}
.instagram {
    width: 200px;
    height: 200px;
    background-image: url(image/instagram.png);
    background-repeat: no-repeat;
    display: inline-block;
    text-indent: -9999px;
    position: absolute;
    top: -13px;
    right: -14px;
    
}
.top-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    background-color: #141E46;
    border-bottom: 1px solid #333;
    z-index: 88;
}
.top-bar .judul {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    font-size: 40px;
    text-align: center;
    font-family: 'Borel', cursive;
    line-height: 80px;
    font-weight: bold;
    color: #f6f6f6;
    margin: 13px 15px auto;
}
.referensi .more p:hover {
    text-decoration: underline;
}
.logo-hsi {
    width: 45px;
    height: 50px;
    margin: 15px 10px 0 15px;
    background-image: url(image/hsi-logo.png);
    background-repeat: no-repeat;
    display: inline-block;
}
.logo-idn {
    width: 50px;
    height: 50px;
    background-image: url(image/idn-logo.png);
    background-repeat: no-repeat;
    display: inline-block;
}
/* Media query */

@media screen and (max-width: 768px)
{
    .container {
        width: 45vh;
        overflow-x: hidden;
    }
    .main {
        width: auto;
    }
    .credit {
        font-size: 12px;
        max-width: 300px;
    }
    .hero {
        height: 220px;
        background-size: cover;
        background-position: 10%;
    }
    .isi {
        max-width: 340px;
        font-size: 12px;
    }
    #dalil {
        max-width: 350px;
        font-size: 18px;
    }
    #arti {
        max-width: 350px;
        font-size: 13px;
        padding: 0 10px 0 10px;
    }
    .surat {
        text-align: center;
        font-size: 11px;
        margin-left: 17%;
    }
    .sidebar {
        position: absolute;
        opacity: 0;
    }
    .top-bar .judul {
        font-size: 30px;
        margin: 13px 16px auto;
    }
    .logo-hsi {
        width: 40px ;
        height: 45px;
        background-size: cover;
        margin: 15px 10px 0 15px;
    }
    .logo-idn {
        width: 40px;
        height: 40px;
        background-size: cover;
    }
}



